body {
  font-family: 'Raleway', sans-serif;
}

h3,
h2 {
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  color: #8b8da0;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

h1 {
  text-align: center;
}

tr {
  padding-left: 1rem;
}

/* Navbar */

.header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: #c9bbae;
  /* background-color: #c7b299; */
  /* background-color: #bcadff; */
  /* border-bottom: 3px solid black; */
}

.logo {
  background-image: url('/assets/logo.png');
  background-repeat: no-repeat;
  background-size: 2.5em;
  padding: 0.6em 2em;
  margin: 0em;
}

.active-link {
  color: black;
  font-weight: bold;
}

/* Homepage */

.blurb {
  text-align: left;
  max-width: 50ch;
  min-width: 30%;
  margin: 0rem 1rem;
}

.homeImage {
  padding: 5% 25% 3% 25%;
  display: flex;
  justify-content: center;
}

.home-background {
  background: url('/assets/orangeHair.jpeg');
}

.tagline {
  color: black;
  font-weight: bold;
  text-align: right;
  width: 30rem;
  padding: 1em 5em 1em 1em;
  margin: 0rem 20rem;
  position: relative;
}

.homepage-text {
  color: black;
}

#personalFavorites {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row nowrap;
  align-items: stretch;
  /* background-color: #eeebe7; */
  margin-top: 5rem;
  padding: 2rem 0 5rem 0;
}

#favs {
  align-self: center;
  text-align: left;
  width: 15%;
}

.category {
  align-self: center;
  text-align: left;
  width: 13%;
  /* background-color: #efbaa6; */
  padding-right: 1rem 1rem 0rem 0rem;
  border-bottom: #efbaa6 solid 1rem;
}

.category-right {
  margin-right: 1rem;
}

.carousel-background {
  position: relative;
  /* display: inline-block; */
}

.shop-all-carousel {
  position: absolute;
  bottom: 4em;
  right: 4em;
  background-color: #efbaa6;
  border-radius: 1.5em;
  color: white;
  text-transform: uppercase;
  padding: 1em 1.5em;
}

.about-text {
  width: 90%;
  padding-left: 40%;
  position: absolute;
  z-index: 20;
  top: 5%;
  text-align: left;
}

/* Auth form */

.auth-form {
  border-top: 1px black dashed;
  border-bottom: 1px black solid;
}

/* All products view */

#allProductContainer {
  padding: 3rem 0rem 4rem 0rem;
}

.productContent {
  display: flex;
  flex-flow: row nowrap;
  padding: 2rem;
  border-bottom: #000411 solid 1px;
}

.grayStoppers {
  display: flex;
  justify-content: center;
  flex-flow: row nowrap;
  box-sizing: border-box;
  font-weight: normal;
  padding-bottom: 0.5rem;
}

.all-product-header {
  display: inline-block;
  padding-top: 3rem;
}

.arrow {
  width: 3rem;
  height: auto;
}

.scroll {
  display: inline-block;
  background-color: white;
  border: none;
}

button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
  border: 0;
}
.grayStopper {
  /* padding: 3rem; */
  width: 16rem;
  /* min-height: 350px; */
  /* border: 2px #693029 solid; */
  /* border: 2px #a30075 solid; */
  border-radius: 5%;
  margin: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 8rem;
}

.center {
  text-align: center;
}

.link {
  text-decoration: none;
  color: black;
}

.nav-link {
  text-decoration: none;
  color: black;
}

.image-product {
  max-width: 100%;
  max-height: 100%;
}

.image-container {
  padding-bottom: 1rem;
}

.grayStopperContainer {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  /* min-height: 100vh; */
}

#productContent {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.productName {
  padding-bottom: 1rem;
}

/* Category Product View */

.categoryContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.category-margin {
  margin: 3% 5% 4% 5%;
}

.category-header {
  text-decoration: underline #efbaa6;
}

/* Single Product View */

.singleProductPage {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.singleProduct {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin: 3rem 3rem;
}

.title-img {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
}

.single-img {
  max-width: 20em;
  height: auto;
  padding: 1em;
}

.no-dots {
  border: none;
}

.description {
  width: 75%;
  max-width: 25rem;
}

/* Cart Page Styling */

.cart-content {
  padding: 3rem 0rem 4rem 0rem;
}

.left {
  margin-left: 1.5rem;
}

.cart-img {
  width: 7rem;
  height: auto;
  margin: 0.25rem 0rem 0.25rem 1rem;
}

.cart {
  border-top: 2px #000411 solid;
  width: 90%;
}

.t-head {
  text-align: left;
  padding: 0.5rem 0rem;
}

th,
td {
  border-bottom: 1px #160c28 dashed;
  text-align: left;
  padding: 0.25rem 0rem;
}

.foot {
  border-bottom: none;
}

.cart-select {
  padding: 0.5rem;
}

.add-select {
  font-weight: 600;
}

/* Button styling */

.button {
  /* border-radius: 5%; */
  /* box-shadow: 1px 1px 1px #000411; */
  cursor: pointer;
  font-size: 0.9rem;
  padding: 0.3rem;
  border: 1px black solid;
}

.remove {
  background-color: #693029;
  color: white;
}

.edit {
  color: white;
  background-color: #50423d;
}

.add {
  background-color: #8b8da0;
  color: white;
  margin-left: 2rem;
}

.auth {
  color: white;
  background-color: #693029;
}

.nav {
  background-color: white;
  margin: 0rem 0.5rem;
}

.dash {
  margin: 1rem 0rem;
}

.inline {
  display: inline-block;
}

.flex {
  display: flex;
  align-items: center;
}

.checkout {
  margin-top: 1.25rem;
  background-color: #160c28;
  color: ivory;
  position: relative;
  left: 20%;
}

.bold {
  font-weight: 600;
}

.total {
  margin: 3rem auto 0rem auto;
  padding: 0.75rem;
  /* border: 2px #160c28 solid; */
  border-radius: 2%;
}

.clear {
  background-color: #8b8da0;
  color: white;
  width: 100%;
}

.clearShort {
  background-color: #c9bbae;
  /* color: white; */
  width: 10rem;
}

.flex-single {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  min-width: 12rem;
}

/* User / Product Dashboard styling */

.margin-left {
  margin-left: 1.5rem;
}

.add-new-form {
  margin-left: 1.5rem;
  justify-content: center;
}

.add-form-field {
  border: 1px #aeb7b3 solid;
  margin: 0.5rem 1rem;
}

.add-label {
  display: inline-block;
}

.form-box {
  display: inline-flex;
  border-top: 2px #000411 solid;
  border-bottom: 1px #000411 dashed;
  width: 90%;
  padding-top: 1rem;
  margin-top: 1rem;
  margin-left: 1.5rem;
  margin-bottom: 1.5rem;
}

.dash-img {
  height: 3rem;
  width: auto;
}

.no-margin {
  margin: 0rem;
}

/* Checkout page styling */

.checkoutPage {
  display: flex;
  flex-flow: row;
  justify-content: center;
  left: 0%;
}

.checkoutPageChildren {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%;
}

.minicart {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 20rem;
  padding: 4rem;
}

@media all and (max-width: 700px) {
  .hide {
    display: none;
  }
}

.textCenter {
  text-align: center;
}

p {
  text-align: center;
}

.formHeader {
  text-align: center;
  font-size: 1.5em;
}

.leftPText {
  text-align: left;
}

.blocks {
  display: flex;
  flex-flow: row wrap;
  margin: 0em;
  font-weight: normal;
  font-size: 1em;
}

.submitForm {
  width: 15em;
  height: 2em;
  margin: 0em;
}

.textInput {
  margin: 0.3em;
  font-size: medium;
  font-weight: normal;
}

.formBlock {
  margin: 0.5em;
}

.address {
  width: 25em;
}

.postal {
  width: 10em;
}

.numbers {
  width: 5em;
}

.payMargin {
  margin: 1em 0 0 0;
}

.pay-img {
  width: 3em;
  height: auto;
  padding: 0em 1.5em 0em 0em;
}

.rowSpaces {
  padding: 0em 5em 0em 0em;
}

.rightAdjust {
  text-align: right;
}

.longName {
  word-wrap: break-word;
  width: 10em;
}

.soldOut {
  color: #6a264b;
  text-align: center;
  margin-top: 0.75rem;
}

.totheleft {
  padding: 2.5em 10em;
}

/* footer */

.footer {
  background-color: #50423d;
  text-align: center;
  font-size: small;
  padding: 1em 0 1em 0;
  /* position: relative; */
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
}

#body-container {
  position: relative;
  min-height: 100vh;
}

#content {
  padding-bottom: 3em;
}

/* Side Cart */

.eeebe7 {
  background-color: #eeebe7;
}

.white {
  color: white;
}

.sideCart {
  max-width: 30%;
  height: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: #675264;
  overflow-x: hidden;
  padding-top: 5rem;
  opacity: 85%;
}

.navbar-toggler-edit {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: box-shadow 0.15s ease-in-out;
}

button:focus {
  outline: none;
}

.sideCart-close {
  top: 0;
  color: white;
  background-color: transparent;
  border: #675264;
  padding: 1em;
  font-size: x-large;
}
