body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: #e1efe6;
}

.logo {
  background-image: url('/assets/logo.png');
  background-repeat: no-repeat;
  background-size: 2.5em;
  padding: 0.6em 2em;
  font-family: Bradley Hand;
  margin: 0em;
}

.homeImage {
  background-image: url('/assets/download-2.png');
  background-repeat: no-repeat;
  background-size: 60em;
  padding: 15em;
}

.tagline {
  background-color: #efcb68;
  text-align: right;
  padding: 1em 5em 1em 1em;
}

.grayStoppers {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  box-sizing: border-box;
  /* font-family: Verdana; */
  font-weight: normal;
}

.grayStopper {
  padding: 3em;
  /* background-color: #AEB7B3; */
  /* background-clip: content-box; */
}

.link {
  text-decoration: none;
  color: black;
}

.singleProduct {
  display: flex;
  justify-content: center;
  /* Cart Page Styling */
}

.left {
  margin-left: 1.5rem;
}

.cart-img {
  width: 7rem;
  height: auto;
  margin: 0.25rem 0rem 0.25rem 1rem;
}

.cart {
  border-top: 2px #000411 solid;
  width: 90%;
}

.t-head {
  text-align: left;
  padding: 0.5rem 0rem;
}

th,
td {
  border-bottom: 1px #160c28 dashed;
  text-align: left;
  padding: 0.25rem 0rem;
}

.foot {
  border-bottom: none;
}

.cart-select {
  padding: 0.5rem;
}

.button {
  border-radius: 5%;
  box-shadow: 1px 1px 1px #000411;
  cursor: pointer;
  font-size: 0.9rem;
  padding: 0.3rem;
}

.remove {
  background-color: #aeb7b3;
}

.edit {
  background-color: #efcb68;
}

.add {
  background-color: #e1efe6;
  margin-left: 2rem;
}

.nav {
  background-color: white;
  margin: 0rem 0.5rem;
}

.dash {
  margin: 1rem 0rem;
}

.inline {
  display: inline-block;
}

.checkout {
  margin-top: 0.5rem;
  background-color: #160c28;
  color: ivory;
  position: relative;
  left: 20%;
}

.bold {
  font-weight: 600;
}

.total {
  margin: 3rem auto 0rem auto;
  padding: 0.75rem;
  border: 2px #160c28 solid;
  border-radius: 2%;
}

.clear {
  background-color: white;
  width: 100%;
}

.margin-left {
  margin-left: 1.5rem;
}

.add-new-form {
  margin-left: 1.5rem;
  justify-content: center;
}

.add-form-field {
  border: 1px #aeb7b3 solid;
  margin: 0.5rem 1rem;
}

.add-label {
  display: inline-block;
}

.form-box {
  display: inline-flex;
  border-top: 2px #000411 solid;
  border-bottom: 1px #000411 dashed;
  width: 90%;
  padding-top: 1rem;
  margin-left: 1.5rem;
  margin-bottom: 1.5rem;
}

.no-margin {
  margin: 0rem;
}

.checkoutPage {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  left: 0%;
}

.checkoutPageChildren {
  flex-grow: 1;
  padding: 5%;
}

.textCenter {
  text-align: center;
}

p {
  text-align: center;
}

.formHeader {
  text-align: left;
  font-size: 1.5em;
  font-family: arial;
}

.leftPText {
  text-align: left;
}

.blocks {
  display: flex;
  flex-flow: row wrap;
  margin: 0em;
  font-weight: normal;
  font-size: 1em;
}

.submitForm {
  width: 15em;
  height: 2em;
  margin: 0em;
}

.textInput {
  margin: 0.3em;
  font-weight: normal;
}

.formBlock {
  margin: 0.5em;
}

.address {
  width: 25em;
}

.postal {
  width: 10em;
}

.numbers {
  width: 5em;
}

.payMargin {
  margin: 1em 0 0 0;
}

.pay-img {
  width: 3em;
  height: auto;
  padding: 0em 1.5em;
}

.rowSpaces {
  padding: 0em 5em 0em 0em;
}

.rightAdjust {
  text-align: right;
}

.longName {
  word-wrap: break-word;
  width: 10em;
}

.soldOut {
  color: red;
}
